<nz-layout>
    <menu-component></menu-component>

    <nz-content>
        <div class="conteudo">
            <div class="sig-tarefas-apresentacao">
                <h1>Bem vindo ao SIGTAREFAS</h1>
                <img src="assets/logo_square.png" alt="Logo SIGTAREFAS">
                <p>Uma ferramenta essencial para a gestão eficiente de tarefas em equipes</p>
                <h2>Aqui estão os recursos que fazem do SIGTAREFAS uma escolha inteligente:</h2>
                <ul>
                    <li>Pesquisa de Tarefas: Encontre facilmente as tarefas que precisa, quando precisa.</li>
                    <li>Cadastro de Tarefas: Registre novas tarefas de forma simples e rápida.</li>
                    <li>Edição de Tarefas: Atualize as informações das tarefas com facilidade para manter todos alinhados.</li>
                    <li>Exclusão de Tarefas: Remova as tarefas como preferir.</li>
                    <li>Marcar como Concluída: Mude o estado da tarefa com un único clique.</li>
                </ul>
            </div>

        </div>
    </nz-content>

    <footer-component></footer-component>
</nz-layout>